:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --text-wh-color: #FFFFFF;
    --text-bl-color: #2196F3;
    --accent-color: #2196F3;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --primary-bg-color: #2196F3;
    --primary-bg-white-color: #FFFFFF;
    --primary-bg-grey-color: #2F303A;
    --primary-bg-btn-color: #F5F4FA;
    --typical-magrin: 50px;

}


  $fontPrimary: Roboto, sans-serif;
  $fontLogo: Raleway, sans-serif;