.contact{
    display: flex;

    &--fonts {
    
            color: rgba(255, 255, 255, 0.6);
            font-style: normal;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &--flex {
    display: flex;
    flex-direction: column;
}
    
}

.contact__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    color: var(--primary-text-color);

    &:hover,
    &:focus {
        color: var(--text-bl-color);
    }
}

.contact__icon {
    margin-right: 10px;
    fill: #757575;


    .contact__link:hover & {
      fill: currentColor;
    }
}


.contact.list .contact__item:not(:last-child) {
    margin-right: 30px;
}


.contact__item--margin {
    margin-top: 20px;
    margin-bottom: 10px;
}