.container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
  
  @include mobile {
      max-width: 480px;
  }

  @include tablet {
      max-width: 768px;
  }

  @include desktop {
    width: 1200px;
      max-width: 1200px;
  }
  
}


.footer .container {
    display: flex;
    flex-direction: column;

        @include tablet {

                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
        }
  
   
    @include desktop{
        flex-wrap: no-wrap;
        justify-content: space-between;
     
        
    }
}