.feature__list {
    @include flexWrap($type: flex, $wrap: wrap, $gap: 30px)

}


 .feature__wrap {

     background: #F5F4FA;
     border-radius: 4px;
     height: 120px;
     margin-bottom: 30px;
    @include flexCenter($type: flex, $main-axis: center, $cross-axis: center);
 }

 .feature__title {
     text-transform: uppercase;
     text-align: center;
     color: var(--title-text-color);
     margin-bottom: 10px;
     @include fonts (700, 14px, 1.14, 0.03em);

     @include tablet {
         text-align: left;
     }

     @include desktop {
         text-align: left;
     }
 }
   .feature__item {

    width:100%; 

        @include tablet {
                width: calc((100% - 30px)/2)
            }
        
            @include desktop {
                width: calc((100% - 90px)/4)
            }
        }

   