.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;

    &__title {
            text-transform: uppercase;
            text-align: center;
            color: var(--primary-bg-white-color);
            max-width: 696px;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
        @include fonts (900, 44px, 1.36, 0.06em);
        }
}