.logo {
    @include fonts(700, 26px, 1.19, 0.03em);
    font-family: $fontLogo;
   
    color: var(--accent-color);
    
    &--color-black {
            color: #000000;
        }

    &--color-white {
    color: var(--text-wh-color);
                }
}

.logo__wrap {
    @include desktop {
        margin-bottom: 20px;
    }
}
