.logo {
    @include fonts(700, 26px, 1.19, 0.03em);
    font-family: $fontLogo;
    margin-right: 93px;
    color: var(--accent-color);
    
    &--color-black {
            color: #000000;
        }

    &--color-white {
    color: var(--text-wh-color);
                }
}


.logo__wrap {
    margin-right: 70px;
}


