.nav {
    display: flex;
    align-items: center;
    margin-right: 250px;


    &__link {
        font-weight: 500;
        color: var(--title-text-color);
        padding-top: 32px;
        padding-bottom: 32px;
        padding-top: 32px;
        display: block;
        line-height: 1.1;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

.nav__link--current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background: currentColor;
    border-radius: 2px;
}


.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link--current {
    color: var(--primary-bg-color);

}