.portfolio__list {
@include flexWrap($type: flex, $wrap: wrap, $gap: 30px);
    margin-bottom: 50px;

}


.portfolio__item{
width: 100%;

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px)/2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px)/3);
    }
}


