.project__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.project__item {
    flex-basis: calc((100% - 90px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.project__link:hover,
.project__link:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project__thumb {
    position: relative;
    overflow: hidden;
}


.background__text {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 100%;
    color: var(--text-wh-color);
    padding-left: 24px;
    padding-right: 24px;
    background: rgba(33, 150, 243, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    @include fonts (null, 18px, 1.55, null);

    .project__link:hover &,
    .project__link:focus & {
        transform: translateY(0);
    }
}


.project-wrap__container {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
    min-width: 370px;
}

.project-wrap__title {
    color: var(--title-text-color);
    margin-bottom: 4px;
    @include fonts (700, 18px, 2, 0.06em);
}

.project-wrap__text {
    color: var(--primary-text-color);
    @include fonts (null, 16px, 1.88, null);
}