.subscribe__btn {

    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 10px 30px;
    color: var(--text-wh-color);
    border: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @include fonts (700, 16px, 1.88, 0.06em);
    cursor: pointer;

    &:hover {
            background: #188CE8;
        }
}


.subscribe__input {
    background-color: transparent;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--text-wh-color);
    padding: 15px 16px;
    margin-right: 12px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
            outline: 1px solid var(--primary-bg-white-color);
        }

     &:focus::placeholder {
            color: var(--text-wh-color);
        }
}



.subscribe__icon {
    fill: #FFFFFF;
    margin-left: 10px;
}


.subscribe__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe__wrap {
    margin-left: auto;
    margin-right: 0;
}